# Общие настройки приложения
PORT=8080
ZVENOAI_API_KEY=ertyui

# База данных PostgreSQL
POSTGRES_USER=usr
POSTGRES_PASSWORD=pwd
POSTGRES_DB=vibetour
# Если запускаете приложение локально, используйте localhost. Для Docker - db
DATABASE_URL=postgres://usr:pwd@localhost:5432/vibetour?sslmode=disable

# Объектное хранилище MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
# Если запускаете приложение локально, используйте localhost. Для Docker - minio
S3_ENDPOINT=localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
