@import "tailwindcss";

:root {
  --color-bg: #0F0F0F;
  --color-card: #1A1A1A;
  --color-accent: #A3FF12;
  --color-text-main: #FFFFFF;
  --color-text-muted: #A0A0A0;
  --radius-lg: 24px;
  --radius-md: 12px;
}

@layer base {
  body {
    @apply bg-(--color-bg) text-(--color-text-main) antialiased;
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3 {
    @apply font-black uppercase italic tracking-tighter;
  }
}

/* Стили для скроллбара в стиле дизайна */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--color-card);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}